*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.7em;
}
a{
    color: black;
    text-decoration: none;
}
/* Navbar*/
h1,h2,h3{
    padding-bottom: 20px; 
}
p{
    margin: 10px 0;
}
.Logo{
    width: 1000px;
    height: 50px;
}
.navbar{
    width: 100%;
    max-height: 50px;
    opacity: 50%;
    color: white; 
    background-color: mediumslateblue;
    font-size: 20px;
}
.navbar a{
    color: white; 
}

.navbar h1{
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 10px;
    padding-left: 10px;
}

.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    bottom: 45px;
    
    
}
.navbar ul li{
    display: flex;
    justify-content: flex-start;
}
.navbar ul li a{
    display: block;
    padding: 10px;
    text-align: center;

}
.navbar ul li a:hover{
    color: red;
    background-color: white;
}


.Fullbody{
    width: 100%;
    height: 660px;
    background-color:  rgb(189, 242, 192);
}
#a{
    height: 100px;
    width: 100%;
    display:flex;
    justify-content: center;
}
.title{
    height: 100px;
    width: 30%;
    font-size: 40px;
    text-align: center;
    padding: 40px;
    text-decoration:underline;
    border: 2px solid black;
    border-radius: 100%;
    background-color: chartreuse;

}

.h2{
    
    padding: 30px;
}
#a2{
    display: flex;
    justify-content: center;
}
#b{
    width: 900px;
}
.outer{
    width: 1300px;
    height: 500px;
    /* border: 1px solid black; */
    position: relative;
    left: 100px;
    display: flex;
    justify-content: space-around;
}
.pic{
    height: 500px;
    width: 600px;
    border-radius: 10px;
    /* border: 1px solid black; */
    background-image: url(manik.jpg);
    background-position:top;
    background-size: cover;
    position: relative;
    right: 50px;
}
.txt{
    height: 500px;
    width: 100%;
     border-radius: 10px;
    /* border: 1px solid black; */
    font-size: large;
    display: flex;
    align-items: center;
}