*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*
    line-height: 1.7em;*/
}
.formouterbox{
    width: 500px;
    height: 650px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(207, 227, 245);
    font-size: 30px;
    text-align: center;
    position: relative;
    left: 960px;
    top: 40px;
}
.outerform{
    width: 100%;
    /* box-sizing: border-box; */
    height:650px;
    border: 1px solid black;
    background-image: url(https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG90ZWxzfGVufDB8fDB8fHww);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.usertxtinputbox{
    width:340px;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
}
.nidnumberinputbox{
   width:340px;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
}
.emailtxtinputbox{
     width:340px;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
}
.phonetxtinputbox{
    width:340px;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
}
.roomtypeinputbox{
    width:340px;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
}
.amountinputbox{
   width:340px;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
}
.submitbtn{
    width:200px;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(94, 202, 31);
}
